<!DOCTYPE html lang="es">
<head>
 <h1>PROYECTO IV</h1>
</head>
{% block style %}
  <style>
  li{
    list-style:none;
  }
  h1{
    text-align : center;
    padding-right: : 15px;
  }
  body{
    padding-left: 15px;
  }
  footer{
    background-color: black;
    color: white;
  }
  </style>
{% endblock %}
<body>
  
  <h2>Estas son las noticias destacadas </h2>
  {% set count = 0 %}
  {% for item in dic_noti %}
    {% set count = count + loop.index %}

     {% if item != ''%}

      {% if loop.index==1 or count%4==1 %}
        <section>
          <h2> Titulo </h2>
          <ul>
            <li> <div>{{item}}<div></li>
          </ul>
        </section>

        {%elif loop.index == 2 or count%4==2 %}
          <section>
            <h2>Descripci&oacuten </h2>
            <ul>
              <li> <div> {{item }}<div></li>
            </ul>
          </section>

        {%elif loop.index==3 or count%4==3 %}
          <section>
            <h2> Url </h2>
              <ul>
                <li> <div><a href ={{item}} />{{item}} </a><div></li>
              </ul>
          </section>

        {%elif loop.index==4 or count%4==0 %}
          <section>
            <h2>Fecha </h2>
              <ul>
                <li> <div>{{item}}<div></li>
              </ul>
          </section>
            <p>******************************************************************************************************************************************************* </p>


      {% endif %}

      {%endif%}
  {% endfor %}
</body>
<footer>Alumno: Juan Esteban Moreno L&oacutepez </footer>
</html>
